.item{
    cursor: pointer;
}
.container{
  background: #0e0f14;
  color: #fff;
}
.owl-nav{
  background: black !important;
}
.navBtn{
    border: 1px solid #fd0041 !important;
    font-size: 18px !important;
}
.owl-carousel .owl-item img{
    width: 60% !important;
    margin: auto !important;
}
.navs{
    border: 1px solid #fd0041 !important;
}
.video-trailer{
    text-align: center !important;
}
